<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">


    </head>
    <body>
    <header>
        <nav>
            <div class="nav-wrapper">
            <a href="{{url_for('get_tasks')}}" class="brand-logo">Task Manager</a>
            <a href="#" data-activities="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                <li><a href="{{url_for('add_task')}}">Add Task</a></li>
                <li><a href="{{url_for('new_category)}}'">Add Category</a></li>
            </ul>
            <ul class="side_nav" id="mobile-demo">
                <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                <li><a href="{{url_for('add_task')}}">Add Task</a></li>
                <li><a href="{{url_for('new_category)}}'">Add Category</a></li>
            </ul>
            </div>
        </nav>
    </header>
        <div class="container">
        {% block content %}

        {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.collapsible').collapsible();
                $('select').material_select();
                $('.button-collapse').sideNav();
            });
            
            $(".datepicker").pickadate({
                selectMonths: true,
                selectYears: 15,
                today: "Today",
                clear: "Clear",
                close: "Ok",
                closeOnSelect: false

            });
        </script>
    </body>
</html>