{% extends "base.html" %}
{% block content %} 

     <ul class="collapsible">
    {% for task in tasks %}
    <li>
      <div class="collapsible-header">
        <div class="col s3">
            <i class="material-icons">expand_more</i>
            <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small">Done</a>
            <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
        </div>
        <div class=" task_header col s9">
             <p><strong> {{task.task_name}} </strong> - {{task.due_date}}</p>
        </div>
      </div>
      <div class="collapsible-body"><span> <p> {{task.task_description}} </p> </span></div>
    </li>
   {% endfor %}
  </ul>
{% endblock %}
